.main-header {
  background: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  min-height: 600px;
  color: #fff;
}

.section-developers .primary-overlay {
  background: rgba(112, 81, 176, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.main-header .showcase {
  padding-top: 100px;
}

.active-link {
  color: #d847f1;
  font-weight: bold;
}

.section-developers {
  position: relative;
  background: url(../img/code.jpg);
  background-position: center;
  background-size: cover;
  border-top: #333 solid 5px;
  min-height: 180px;
  border-bottom: #333 solid 5px;
}

.section-podcast a {
  margin-top: 25px;
}

@media (max-width: 500px) {
  .section-developers,
  .section-podcast {
    /*css goes here*/
  }
}
